@import de.htwg.se.ninja.controller.ControllerInterface
@import de.htwg.se.ninja.controller.component.State

@(controller: ControllerInterface)



@size = @{
    controller.desk.field.matrix.length
}

@main("HTWG Ninja") {

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img class="logo" src="../assets/ninjaBlack.png" alt="ninja" width="50"/>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/highscore">Highscore<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game">Game<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="game">
        <h1 class="game-header">
            Ninja - THE GAME
        </h1>

        <div>
            <div class="field">
            @for(row <- 0 until size) {
                <div class="house size@size">
                @for(col <- 0 until size) {
                    <button type = button class="fieldButton" id="@{row}@{col}">
                    @{
                        controller.cellToString(controller.currentPlayer, row, col)
                    }
                    </button>
                }
                </div>
                <div class="clear"></div>
            }
            </div>

        </div>

        <div id="actionButtons">
            <p id="infoText">
            </p>
            @if(controller.state == State.INSERTING_NAME_1) {
                <p>Player1 insert your Name</p>
                <div class="form-group">
                    <label for="input-name1">Name</label>
                    <input type="text" class="form-control" id="input-name1" placeholder="Player1">
                </div>
                <button class="btn btn-primary" id="btn-confirmName1">
                    add Player
                </button>

            }

            @if(controller.state == State.INSERTING_NAME_2) {
                <p>Player2 insert your Name</p>
                <div class="form-group">
                    <label for="input-name2">Name</label>
                    <input type="text" class="form-control" id="input-name2" placeholder="Player2">
                </div>
                <button class="btn btn-primary" id="btn-confirmName2">
                    add Player
                </button>

            }

           @if(controller.state == State.SET_FLAG_1){
               <p> @controller.currentPlayer.name set your Flag</p>
               <form action="@controllers.routes.NinjaController.setFlag(0,0)">
                   setFlag: <input id="nameField" type="text">
                   <input value="Enter" type="submit">
               </form>
           }

           @if(controller.state == State.SET_FLAG_2){
               <p> @controller.currentPlayer.name set your Flag</p>
               <form action="@controllers.routes.NinjaController.setFlag(5,5)">
                   setFlag: <input id="nameField" type="text">
                   <input value="Enter" type="submit">
                       <p> @controller.currentPlayer.name set your Flag</p>
               </form>
           }

            @if(controller.state == State.TURN) {
                <p> @controller.currentPlayer.name click on a Ninja and set your direction</p>
                <form>
                    <div class="form-group">
                        <label for="select-direction">select direction</label>
                        <select class="form-control" id="direction-select">
                            <option>Up</option>
                            <option>Down</option>
                            <option>Left</option>
                            <option>Right</option>
                        </select>
                    </div>
                </form>
                <button class="btn btn-primary" id="btn-turn">
                walk
                </button>
            }

            @if(controller.state == State.WALKED) {
                    <button class="btn btn-primary" id="btn-next">
                        next
                    </button>
            }


        </div>

    </div>

}

