@import de.htwg.se.ninja.controller.ControllerInterface
@import de.htwg.se.ninja.controller.component.State

@(controller: ControllerInterface)



@size = @{
    controller.desk.field.matrix.length
}

@main("HTWG Ninja") {

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img class="logo" src="../assets/ninjaBlack.png" alt="ninja" width="50"/>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/highscore">Highscore<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game">Game<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="game">

        <h1 class="game-header">
            Ninja - THE GAME
        </h1>

        <h2 class="pl-5 ml-5">Its your turn - @controller.currentPlayer.name </h2>


        <div>
            <div class="field mr-5" id="field">

            </div>
        </div>

        <div id="interaction">
                <!-- interactions added through js -->
        </div>



    </div>

}

