h1 {
    font-family: Gabriola;
    font-size: 5em
}

h2 {
    font-family: Gabriola;
    font-weight: bold;
    color: darkslategray
}

/*---------- NAVBAR ----------*/
.nav-link {
    font-weight: bold;
    font-size: large
}

/*---------- HOME ----------*/
.home {
    background-image: url("tori.jpg")
}

.home-header {
    text-align: center;
    color: darkslategray;
    padding-top: 2vw
}

.card-img-top {
    height: 15vw;
}

.card {
    width: 16rem
}

.checked {
    color: yellow
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.rating-card {
    width: 40rem;
    margin-left: 3vw;
    margin-top: 3vw
}

/*---------- GAME ----------*/
.game {
    height: 100%;
    margin-bottom: auto;
}

.game-header {
    color: darkslategray;
    text-align: center;
    padding-top: 3vw;
    font-weight: bold
}

.field {
    border: solid 40px #212729;
    background-color: #212729;
    width: 390px;
    margin-left: 10vw;
    color: black;
    margin-bottom: 3vw;
    float: left
}

.fieldButton {
    width: 50px;
    height: 50px;
    font-size: large;
    color:white;
    font-weight: bold;
    background-image: url("ninjaBlack.png") ;
    background-size: 50px;

}

.emptyButton {
    width: 50px;
    height: 50px;
    font-size: medium;
    color: ghostwhite;

}

#interaction {
    font-family: Gabriola;
    color: darkslategray;
    font-weight: bold;
    font-size: xx-large;
    float: right;
    margin-top: 5vw;
    float: left
}

#current-player {
    font-family: Gabriola;
    color: darkslategray;
    font-weight: bold;
    font-size: xx-large;
    float: right;
    margin-top: 5vw;
    margin-left: 10vw;
    float: left;
}

/*---------- HIGHSCORE ----------*/
.highscore-header {
    text-align: center;
    color: darkslategray;
    padding-top: 2vw
}


/*---------- ABOUT ----------*/
.about {
    background-image: url("tori.jpg")
}

.about-header {
    color: darkslategray;
    text-align: center;
    padding-top: 3vw;
    font-weight: bold
}

.dragon {
    height: 200px
}

.rules-title {
    padding-left: 3vw
}

.rules-grid {
    margin: 3vw
}

.history {
    width: 40%;
    text-align: justify;
    margin: 3vw
}

.btn-secondary {
    text-align: center
}


.ninja-img {
    height: 10vw;
    text-align: center;
    margin-bottom: 10vw;
    alignment: center;
    margin-left: auto;
    margin-right: auto;
    display: block
}
